@bg_color: #2d3a4b; // 首页背景色

@border_color: hsla(0,0%,100%,.1); // 边框色

@icon_color: #889aa4; // icon颜色

@menu_bg_color: #304156; // 菜单背景色

@menu_color: rgb(191, 203, 217); // 菜单文字色

@menu_bg_active_color: #263445; // 菜单悬停色
@menu_active_color: #409eff; // 菜单悬停色

@black: #000;

@border-color: #e6e6e6;

@normal-black: #2c3e50;

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

html{
  line-height: 1.15;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

