@import './common.less';
.home-wrapper{
  .home-header{
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    .home-operator{
      padding: 0 15px;
      height: 50px;
      .home-operator-icon{
        font-size: 20px;
        color: @black;
      }
    }
  }
  // .home-sider, .home-menu{
  //   background: @menu_bg_color;
  // }
  // .home-menu-item{
  //   line-height: 56px!important;
  //   height: 56px!important;
  //   margin: 0!important;
  //   color: @menu_color;
  //   &:hover{
  //     background: @menu_bg_active_color;
  //     color: @menu_color;
  //   }
  //   &.ant-menu-item-selected{ // 选中状态
  //     background: @menu_bg_color!important;
  //     .anticon,.anticon + span{
  //       color: @menu_active_color!important
  //     }
  //   }
  // }
}