@import './common.less';
.home-wrapper{
  .home-header{
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    .home-operator{
      padding: 0 15px;
      height: 50px;
      .home-operator-icon{
        font-size: 20px;
        color: @black;
      }
    }
  }
  /* 路由动画相关样式 */
  .route-enter, .route-appear {
    opacity: 0;
    transform: translateX(-200px);
  }

  .route-enter.route-enter-active, .route-appear.route-appear-active {
    opacity: 1;
    transition: all 300ms;
    transform: translateX(0);
  }

  .route-exit {
    opacity: 0;
  }

  .route-exit.route-exit-active {
    opacity: 0;
  }

  .guide{
    padding: 60px 40px;
  }

  .statistics-wrapper{
    .statistics{
      background: #fff;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      padding: 14px 16px;
      justify-content: space-between;
      .statistics-icon{
        width: 80px;
        height: 80px;
        .icon{
          font-size: 60px;
        }
      }
      .statistics-show{
        flex: 1;
        text-align: right;
        font-weight: 700;
        color: #666;
        font-size: 20px;
        .statistics-title{
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 16px;
        }
      }
    }
  }

  .line-charts{
    height: 400px;
    background: #fff;
  }
}